@model RickFreelanceWebApp.Models.UserManagementViewModels.IndexViewModel

@{
    ViewData["Title"] = "Manage user accounts";
}

<h2>@ViewData["Title"].</h2>
<p>
    <a asp-action="Register" asp-controller="Account">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>User Email</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
            <tr>
                <td>
                    @user.Email
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@user.Id">Delete</a> | 
                    <a asp-action="Edit" asp-route-id="@user.Id">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>